
  .swiper-slide img {
    display: block;
    /* width: 100px; */
    /* height: 100px; */
    object-fit: cover;
  }
  .swiper-pagination-bullet{
    height: 11px;
    width: 11px;
    
  }
  .swiper-pagination-bullets{
    position: absolute;
    bottom: -20px;
  }
