* {
    font-family: 'Roboto', sans-serif;
}

.shadow-for-app {
    -moz-box-shadow: 0 0 15px #475569;
    -webkit-box-shadow: 0 0 15px #475569;
    box-shadow: 0 0 15px #475569;
}
.bg{
    --tw-bg-opacity: 1;
    background-color: rgb(0 206 209 / var(--tw-bg-opacity));
}
.fixednav{
    position: fixed !important;
}
.active{

    /* border: 4px solid aqua !important; */
    border-bottom: 4px solid #00CED1;
    border-color: #00CED1;
    
}
.fixednavforsinglereview{
    position: fixed;
    padding: 24px;

}
.sticky {
    position: sticky;
    bottom: 0; 
  }
  
